<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">

		<link href="styles/reset.css" rel="stylesheet">
		<link href="styles/main.css" rel="stylesheet">

		<title>coloniae</title>

		<script data-main="scripts/main" src="__externals/require.js"></script>
	</head>

	<body>
		<canvas id="canvas3d" width="1000px" height="500px">
		</canvas>

		<div id="on_canvas">
			<div ng-controller="CoinsViewer" class="center_all_inside" id="top_left">
				<img src="imgs/gui/coin.png"><span>{{coins | number:0}}</span>
			</div>

			<div ng-controller="OwnedIslandResourcesViewer" ng-show="hoverOnIsland" id="top_center" style="width: 240px; margin-left:-120px;">
				<div class="center_all_inside">
					<img src="imgs/gui/tool.png"><span style="width: 50px;">{{tool | number:0}}</span>
					<img src="imgs/gui/wood.png"><span style="width: 50px;">{{wood | number:0}}</span>
					<img src="imgs/gui/brick.png"><span>{{brick | number:0}}</span>
				</div>
			</div>

			<div ng-controller="IslandPopulationViewer" ng-show="hoverOnIsland" class="center_all_inside" id="top_right">
				<img src="imgs/gui/population.png"><span style="width: 50px;">{{population | number:0}}</span>
			</div>

			<div id="time" ng-controller="TimeCtrl">
				<select ng-model="timeController.timeFlowSpeed">
					<option value="0">&times; 0</option>
					<option value="1">&times; 1</option>
					<option value="2">&times; 2</option>
					<option value="4">&times; 4</option>
					<option value="8">&times; 8</option>
					<option value="16">&times; 16</option>
				</select>
			</div>

			<div id="HouseDlg" ng-controller="HouseCtrl">
				<b> {{ building.structName }} </b> <a href="#" onclick="return false;" ng-click="close();">close</a><br/>
				<hr>
				{{ houseGroup.totalNumberOfPeople | number:0 }} {{ houseGroup.name }}<br/>
				content: {{ houseGroup.contentLevel }} (#{{ houseGroup.contentRaw | number:2 }})<br/>
				tax: {{ houseGroup.baseIncome + houseGroup.taxDiff }} <button ng-click="houseGroup.taxDiff = houseGroup.taxDiff + 1;">+</button> <button ng-click="houseGroup.taxDiff = houseGroup.taxDiff - 1;">-</button>
			</div>

			<div id="MarketplaceDlg" ng-controller="MarketplaceCtrl">
				<b> {{ building.structName }} </b> <a href="#" onclick="return false;" ng-click="close();">close</a><br/>
				<hr>
				income: {{ income | number:0 }}<br/>
				maintenance: {{ maintenance | number:0 }}<br/>
				balance: <u>{{ income - maintenance | number:0 }}</u> / min <br/>
				<br/>
				<ul class="productlist">
					<li ng-repeat="slot in storage">{{ productsLookup[slot.type].name }}: {{ slot.quantity | number:0 }}</li>
				</ul>
			</div>

			<div id="ProductionBuildingDlg" ng-controller="ProductionBuildingCtrl">
				<b> {{ building.structName }} </b> <a href="#" onclick="return false;" ng-click="close();">close</a><br/>
				<hr>
				effectivity: {{ (effectivity * 100) | number:0 }}% <br/>
				maitenanace: {{ maintenance }}<br/>
				<br/>
				stock:<br/>
				<ul class="productlist" style="height: 50px;">
					<li ng-repeat="slot in storage">{{ productsLookup[slot.type].name }}: {{ slot.quantity | number:0 }}</li>
				</ul>
			</div>

			<div id="toolbox">
				<div ng-controller="BuildCtrl" id="buildhandler" class="handler" ng-click="showBuildDlg();">
					<div class="background_transparent_color"></div>
					<img src="imgs/gui/build.png">
				</div>

				<div ng-controller="BuildCtrl" id="removehandler" class="handler" ng-click="showRemoveDlg(); startRemoveMode();">
					<div class="background_transparent_color"></div>
					<img src="imgs/gui/remove.png">
				</div>
			</div>

			<div ng-controller="BuildCtrl" id="buildmenu" ng-click="buildModeStateChange();">
				<div id="buildlist">
					<div ng-repeat="building in allBuildings" value="{{$index}}" class="buildlistitem" ng-click="chooseBuilding(); $event.stopPropagation();" ng-onmouseover="beginHoverBuilding(); $event.stopPropagation();" ng-mouseenter="beginHoverBuilding(); $event.stopPropagation();" ng-mouseleave="endHoverBuilding(); $event.stopPropagation();">
						<img ng-src="{{building.name | putBuildingImage}}" title="{{buidling.name}}" width="53px" height="50px">
					</div>
					<div id="buildlist_ontop" ng-show="callback.buildMode">
						click here to cancel build mode selection
					</div>
				</div>

				<div class="vertical_line" style="margin-left: 5px; margin-right: 5px;">&nbsp;</div>
				<div id="building_ext_info" ng-controller="BuildingExtInfo">
					<div class="building_name">
						{{buildingName}}
					</div>
					<div class="building_side">
						<div ng-click="changeSide(); $event.stopPropagation();" class="rotation rotation_{{side}}">{{side | rotationLetterByCode}}</div>
					</div>
					<div class="building_img" style="height: 50px;">
						<img ng-src="{{buildingName | putBuildingImage}}" title="{{buildingName}}" width="53px" height="50px">
					</div>
					<div class="building_img" style="height: 30px;">
						<span ng-show="tool != undefined"><img style="display: inline-block;" src="imgs/gui/tool.png" width="20px" height="20px">{{tool | number:0}}</span>
						<span ng-show="wood != undefined"><img style="display: inline-block;" src="imgs/gui/wood.png" width="20px" height="20px">{{wood | number:0}}</span>
						<span ng-show="brick != undefined"><img style="display: inline-block;" src="imgs/gui/brick.png" width="20px" height="20px">{{brick | number:0}}</span>
						<span ng-show="coins != undefined"><img style="display: inline-block;" src="imgs/gui/coin.png" width="20px" height="20px">{{coins | number:0}}</span>
					</div>
					<div class="building_desc">
						<div ng-show="isFarm" class="one_line">
							<img ng-src="{{inputCrop | putBuildingImage}}" title="{{inputCrop}}" style="margin-right: 5px;"><img src="imgs/gui/right.png" style="margin-right: 5px;"><img ng-src="{{output | putProductImage}}" title="{{output}}" width="53px" height="50px">
						</div>
						<div ng-show="isWorkshop" class="one_line">
							<img ng-src="{{input_1 | putProductImage}}" title="{{input_1}}" width="53px" height="50px" style="margin-right: 5px;"><img ng-src="{{input_2 | putProductImage}}" title="{{input_2}}" ng-show="input_2" width="53px" height="50px" style="margin-right: 5px;"><img src="imgs/gui/right.png" style="margin-right: 5px;"><img ng-src="{{output | putProductImage}}" title="{{output}}" width="53px" height="50px">
						</div>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>