<div class="building_desc">
	<div ng-show="isFarm" class="one_line">
		<div building-image name="inputCrop" style="margin-right: 5px;"></div><img src="imgs/gui/right.png" style="margin-right: 5px;"><div product-image name="output" style="margin-right: 5px;"></div>
	</div>
	<div ng-show="isWorkshop" class="one_line">
		<div product-image name="input_1" style="margin-right: 5px;"></div><div product-image name="input_2" ng-show="input_2" style="margin-right: 5px;"></div><img src="imgs/gui/right.png" style="margin-right: 5px;"><div product-image name="output" style="margin-right: 5px;"></div>
	</div>
</div>