/*

main.css

*/

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	color: white;
}

b {
	font-weight: bold;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

ul {
	list-style-type: disc;
}

li {
	margin-left: 20px;
}

#canvas3d {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: black;
}

#canvas_onclick {
	position: absolute;
	top: 0;
	left: 0;

	width: 50px;
	height: 50px;

	background-color: black;

	z-index: 10000;
}

#on_canvas {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	z-index: 2;

	pointer-events:none;

	color: white;
	font-weight: bold;
}

#on_canvas > * {
	pointer-events: auto;
}

#top_left {
	position: absolute;
	top: 0;
	left: 85px;
}

#top_center {
	position: absolute;
	top: 0;
	left: 50%;
}

#top_right {
	position: absolute;
	top: 0;
	right: 0;
}

.center_all_inside {
	display: inline-block;
}

.center_all_inside > * {
	display: inline-block;
	vertical-align: middle;
}

.center_all_inside > span {
	display: inline-block;
}

/* --------------- */

#intro {
	position: absolute;
	top: 50px;
	left: 50%;

	margin-left: -200px;

	width: 400px;
	height: 500px;

	background-color: rgba(0, 0, 0, 0.9);

	padding: 10px;
	border-radius: 5px;

	font-family: monospace;
	font-size: 12px;

	display: none;
}

#time {
	position: absolute;
	right: 20px;
	bottom: 20px;

	background-color: rgba(0, 0, 0, 0.5);

	padding: 5px;
	border-radius: 5px;
}

/* --------------- */

#HouseDlg {
	position: absolute;
	left: 300px;
	top: 300px;

	width: 180px;
	height: 80px;

	border-radius: 5px;
	padding: 10px;

	background-color: rgba(0, 0, 0, 0.5);

	display: none;

	font-family: monospace;
	font-size: 12px;
}

#HouseDlg button {
	cursor: pointer;
}

#ProductionBuildingDlg {
	position: absolute;
	left: 300px;
	top: 300px;

	width: 180px;
	height: 130px;

	border-radius: 5px;
	padding: 10px;

	background-color: rgba(0, 0, 0, 0.5);

	display: none;

	font-family: monospace;
	font-size: 12px;
}

#MarketplaceDlg {
	position: absolute;
	left: 300px;
	top: 300px;

	width: 180px;
	height: 180px;

	border-radius: 5px;
	padding: 10px;

	background-color: rgba(0, 0, 0, 0.5);

	display: none;

	font-family: monospace;
	font-size: 12px;
}

.productlist {
	width: 100%;
	height: 100px;
	overflow-y: auto;
	overflow-x: visible;
}

#buildcancelmenu {
	position: absolute;
	top: 250px;
	left: 100px;

	width: 80px;
	height: 85px;

	padding: 0;

	display: none;
}

#buildcancelmenu:before {
	content:'';
	position:absolute;
    top:0;
    left:0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#cancelhere {
	position: absolute;
	top: 10px;
	left: 10px;

	width: 50px;
	height: 50px;

	background-color: rgba(255,128,0,0.5);
	padding: 5px;
	padding-top: 10px;

	border-radius: 5px;

	font-size: 12px;
	color: white;

	text-align: center;
}

#buildmenu {
	position: absolute;
	top: 250px;
	left: 100px;

	width: 640px;
	height: 60px;

	padding: 10px;

	display: none;
}

#buildmenu:before {
	content:'';
	position:absolute;
    top:0;
    left:0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#buildlistleft {
	position: absolute;
	bottom: 15px;
	left: 10px;

	height: 50px;
	width: 20px;

	background-color: transparent;

	/*overflow: hidden;*/
	cursor: pointer;
}

#buildlistright {
	position: absolute;
	bottom: 15px;
	right: 10px;

	height: 50px;
	width: 20px;

	background-color: transparent;

	/*overflow: hidden;*/
	cursor: pointer;
}

#buildlist {
	position: absolute;
	bottom: 15px;
	left: 30px;

	height: 50px;
	width: 600px;

	background-color: transparent;

	overflow: hidden;
}

#buildlistscrooll {
	position: absolute;
	top: 0px;
	left: 0px;

	word-wrap: none;

	background-color: transparent;
	height: 50px;
}

.buildlistitem {
	position: relative;
	float: left;

	display: inline-block;

	width: 55px;
	height: 50px;

	cursor: pointer;
}

.handler {
	position: relative;

	margin-top: 10px;

	width: 64px;
	height: 64px;

	padding: 5px;
	border-radius: 5px;

	cursor: pointer;
}

.handler:first-child {
	margin-top: 330px;
}

.background_transparent_color {
	position:absolute;
    top:0;
    left:0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.4;
	z-index: -1;

	border-radius: 5px;
}

.handler_on > .background_transparent_color {
	background-color: yellow;
	opacity: 0.6;
}

#toolbox {
	position: absolute;
	top: 0;
	left: 0;

	width: 74px;
	height: 100%;

	padding-left: 5px;
	padding-right: 5px;
}

#toolbox:before {
	content:'';
	position:absolute;
    top:0;
    left:0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
}

#ProductionBuildingDlg {
}