/*

main.css

Powinienem zawisnąć na szubienicy za to gówno.

*/

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	overflow: hidden;

	font-family: monospace;
}

a {
	color: white;
}

b {
	font-weight: bold;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

ul {
	list-style-type: disc;
}

li {
	margin-left: 20px;
}

#canvas3d {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: black;
}

#on_canvas {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	z-index: 2;

	pointer-events:none;

	color: white;
	font-weight: bold;
}

#on_canvas > * {
	pointer-events: auto;
}

#top_left {
	position: absolute;
	top: 0;
	left: 85px;
}

#top_center {
	position: absolute;
	top: 0;
	left: 50%;
}

#top_right {
	position: absolute;
	top: 0;
	right: 0;
}

.center_all_inside {
	display: inline-block;
}

.center_all_inside > * {
	display: inline-block;
	vertical-align: middle;
}

.center_all_inside > span {
	display: inline-block;
}

/* --------------- */

#time {
	position: absolute;
	right: 20px;
	bottom: 20px;

	background-color: rgba(0, 0, 0, 0.5);

	padding: 5px;
	border-radius: 5px;
}

/* --------------- */

#HouseDlg {
	position: absolute;
	left: 300px;
	top: 300px;

	width: 180px;
	height: 80px;

	border-radius: 5px;
	padding: 10px;

	background-color: rgba(0, 0, 0, 0.5);

	display: none;

	font-size: 12px;
}

#HouseDlg button {
	cursor: pointer;
}

#ProductionBuildingDlg {
	position: absolute;
	left: 300px;
	top: 300px;

	width: 180px;
	height: 130px;

	border-radius: 5px;
	padding: 10px;

	background-color: rgba(0, 0, 0, 0.5);

	display: none;

	font-size: 12px;
}

#MarketplaceDlg {
	position: absolute;
	left: 300px;
	top: 300px;

	width: 180px;
	height: 180px;

	border-radius: 5px;
	padding: 10px;

	background-color: rgba(0, 0, 0, 0.5);

	display: none;

	font-size: 12px;
}

.productlist {
	width: 100%;
	height: 100px;
	overflow-y: auto;
	overflow-x: visible;
}

#buildcancelmenu {
	position: absolute;
	top: 250px;
	left: 100px;

	width: 80px;
	height: 85px;

	padding: 0;

	display: none;
}

#buildcancelmenu:before {
	content:'';
	position:absolute;
    top:0;
    left:0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#cancelhere {
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	background-color: rgba(255,128,0,0.5);
}

.abc {
	opacity: 0.5;
}

#buildmenu {
	position: absolute;
	bottom: 5px;

	left: 50%;
	margin-left: -331px;

	width: 762px;
	height: 200px;

	padding: 10px;

	display: block; /* <- none */
}

#buildmenu:before {
	content:'';
	position:absolute;
    top:0;
    left:0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;

	border-radius: 5px;
}

.vertical_line {
	position: relative;
	display: inline-block;
	float: left;

	border-left: 2px dotted white;

	width: 0px;
	height: 100%;
}

#building_ext_info {
	position: relative;
	display: inline-block;
	float: left;

	width: 200px;
	height: 200px;

	/*background-color: red;*/
}

#building_ext_info .building_name {
	height: 30px;
	line-height: 30px;
	vertical-align: middle;

	size: 20px;
}

#building_ext_info .building_img {
	width: 100%;
	z-index: 0;

	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}

#building_ext_info .building_side {
	position: absolute;
	top: 0px;
	right: 0px;

	width: 50px;
	height: 70px;
}

#building_ext_info .rotation {
	top: 50%;
	left: 50%;

	margin-top: -15px;
	margin-left: -15px;

	width: 30px;
	height: 30px;

	line-height: 30px;
	vertical-align: middle;

	text-align: center;

	position: relative;

	cursor: pointer;
}

#building_ext_info .rotation_10 {
	background-color: #B64334; /* http://paletton.com/#uid=7050I0kmRmRfLtbjtpupujttbfL */

	border-top-left-radius: 0px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#building_ext_info .rotation_20 {
	background-color: #B68334; /* http://paletton.com/#uid=7050I0kmRmRfLtbjtpupujttbfL */

	border-top-left-radius: 15px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#building_ext_info .rotation_30 {
	background-color: #294E77; /* http://paletton.com/#uid=7050I0kmRmRfLtbjtpupujttbfL */

	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 0px;
}

#building_ext_info .rotation_40 {
	background-color: #278840; /* http://paletton.com/#uid=7050I0kmRmRfLtbjtpupujttbfL */

	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 15px;
}

#buildlist {
	position: relative;
	display:inline-block;
	float: left;

	height: 200px;
	width: 550px;

	background-color: transparent;

	overflow: hidden;
}

#buildlist_ontop {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 550px;
	height: 200px;
	z-index: 2;

	line-height: 200px;
	vertical-align: middle;
	text-align: center;

	background-color: rgba(0, 0, 0, 0.25);
}

.buildlistitem {
	position: relative;
	float: left;

	display: inline-block;

	width: 55px;
	height: 50px;

	cursor: pointer;
}

.building_desc {
	position: relative;

	width: 200px;
	height: 90px;
}

.building_desc .one_line {
	position: absolute;
	top: 20px;
	width: 200px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;

	text-align: center;
}

/* ---------------------------------- */

.handler {
	position: relative;

	margin-top: 10px;

	width: 64px;
	height: 64px;

	padding: 5px;
	border-radius: 5px;

	cursor: pointer;
}

.background_transparent_color {
	position:absolute;
    top:0;
    left:0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.4;
	z-index: -1;

	border-radius: 5px;
}

.handler_on > .background_transparent_color {
	background-color: yellow;
	opacity: 0.6;
}

#toolbox {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 74px;
	height: 200px;

	padding-left: 5px;
	padding-right: 5px;
}

#toolbox:before {
	content:'';
	position:absolute;
    top:0;
    left:0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
}

#ProductionBuildingDlg {
}